<!-- Footer Start -->
<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">    
    <div class="container relative">
        <div class="py-[60px] px-0 text-center">
            <a href="index.html" class="text-[22px] focus:outline-none inline-block">
                <img src="assets/images/logo-light.png" alt="">
            </a>
            <p class="mt-6 text-gray-300">Building clean digital experiences for modern brands.</p>
            <ul class="list-none mt-6 space-x-4">
                <li class="inline"><a href="index.html" class="text-gray-300 hover:text-gray-100 duration-500">Home</a></li>
                <li class="inline"><a href="services.html" class="text-gray-300 hover:text-gray-100 duration-500">Services</a></li>
                <li class="inline"><a href="case-studies.html" class="text-gray-300 hover:text-gray-100 duration-500">Case Studies</a></li>
                <li class="inline"><a href="blog.html" class="text-gray-300 hover:text-gray-100 duration-500">Blogs</a></li>
                <li class="inline"><a href="faqs.html" class="text-gray-300 hover:text-gray-100 duration-500">FAQS</a></li>
                <li class="inline"><a href="contact.html" class="text-gray-300 hover:text-gray-100 duration-500">Contact</a></li>
            </ul>
        </div>
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container relative text-center">
            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Devyoungs. All rights reserved.</p>
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->